.profile-container {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
}
.profile-content {
  margin-top: 20px;
}

.center{display:block;
        margin-left:auto;
        margin-right:auto;}
  
  .custom-button {
    padding: 10px 40px; /* Espaçamento interno */
    background-color: #f5f8f9; /* Cor de fundo azul */
    color: #080808; /* Cor do texto branco */
    border: 2px solid #040404; /* Borda sólida azul */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de seta ao passar por cima */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
  }
  
  h1 {
    color: white;
    text-align: center;
    padding: 5px;
  }
  /* Defina o estilo para a tabela */
  table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: left;
    /*centra a tabela*/
      margin-left: auto;
      margin-right: auto;
  }
  h2 {
      color: white;
      text-align: center;
      padding: 5px;
    }
  /*
footer para o Copyrigth
*/
footer {
  color: #141313; /* Cor do texto no rodapé */
  padding: 1px; /* Espaçamento interno do rodapé */
  text-align: left; /* Alinhar o texto à esquerda no rodapé */
  position: fixed; /* Fixar o rodapé na parte inferior da janela */
  left: 0;
  bottom: 0;
  width: 100%; /* Largura total */
  background-color: #f0f0f0; /* Cor de fundo do rodapé */
}